.speech {
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}
.direction {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: black;
    background-color: #E6E6FA;

}
.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}
.direction:hover{
    background-color:rgb(14, 99, 71);
    color: rgb(213, 217, 221);
}
.ariste {
    color: green;
}
.chrysale {
    color: goldenrod;
}
.belise {
    color: greenyellow;
}

table { 
    border: dashed 3px;
    overflow: auto;
    font-size: large;
    text-align: center;
    border-collapse: separate;
}
table.collapsing { 
    border: solid 3px;
    border-collapse: collapse;
    outline: solid 2px rgb(54, 13, 13);
}
td, th {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: medium;
    border: solid 1px;
    text-align: center;
    color: indigo;
}
tr {
    background-color:rgb(137, 211, 134) ;
}
tr:nth-child(even) {
    background-color: #c4b1b1;
}
.name:hover{
    color: transparent;;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left; /* line up horizontally */
    color:#000;
    background-color: black;
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
}
/* on hover change the link color*/
ul.navbar-horizontal a:hover {
    background-color: #555;
    color:white;
}